@model BakkalWebProjesi.Models.kategori
@{
    ViewBag.Title = "Kategori Ekle";
}

<form action="/Catagory/CatagoryAdd" method="post" enctype="multipart/form-data">

    <div class="container user-add">
        <div class="row ">
            <div class="col-md-12">
                <a href="/Catagory/Index" class="button">Tüm Kategorileri Gör</a>
            </div>
        </div>
        <div class="row">
     
            <div class="col-md-3 text">
                Kategori Adı :
            </div>
            <div class="col-md-9 input">
                <input type="text" placeholder="kategori adı" name="k_adi" id="username" value="@Model.k_adi">
            </div>



            <div class="col-md-12 send">
                <button type="submit" class="button">Oluştur</button>

            </div>

        </div>

    </div>
</form>
