<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/Content/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/normalize.css/normalize.css">


</head>

<body>

    <div class="page">


        <div class="navigation-left-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 logo">
                        BAKKAL.
                    </div>
                </div>

            </div>
        </div>
        @RenderBody()

    </div>
</body>

</html>